.button {
    margin: 1rem 0 2rem 2rem;
    padding: 0.5rem;
    background-color: rgb(112, 157, 235);
    color: rgb(230, 220, 255);
    font-size: 1rem;
}
.field {
    display: flex;
    width: 400px;
    flex-direction: column;
   
    justify-content: center;
   
    
}

.label, input {
   font-size: 1rem;
}